body{
    background-color:#d7e6dd;
}
.clearFix::after{
    content:"";
    height:0;
    width:0;
    display:block;
    clear:both;
}
#CONTAINER{
    width:1000px;
    height:100%;
    margin:0 auto;
}
@media (max-width:500px){
    #CONTAINER {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
}

#navtop-container{
    width:100%;

    background:rgb(10,100,180);
    position:relative;
}
@media (max-width:500px){
    #logo img {
        width: 100%;
    } 
}

#nav-right {
    width: 370px;
    height: 80px;
    position: absolute;
    right: 0px;
    top: 20px;
}
@media (max-width:500px){
    #nav-right {
        display:none;
    }
}
#nav-right a{
    color:#fff;
    font-size:14px;

}
#nav-right li:hover a{
    color:rgb(50,190,180);
}
#nav-right ul li{
    display:inline-block;
    width:68px;
    height:14px;
    text-align:center;
    line-height:14px;
}
#nav-right ul li{
    border-right:1px solid #ddd;
}
#nav-right ul li#lastnavright{
    border:none;
}
#nav-right #searchbar{
    width:300px;
    height:20px;
    margin-top:15px;
    margin-left:18px;
}
#nav-right input{
    height:16px;
}
#nav-right #searchbtn:hover{
    color:rgb(50,190,180);
}

#divideline{
    width:100%;
    height:10px;
    background-color:rgb(50,190,180);
}

#navbar{
    width:100%;
    height:45px;
    background-color:rgb(251,251,251);
}
#navbar a{
    display:block;
    color:#222;
    font-size:14px;
    text-align:center;
    line-height:50px;
}
@media (max-width:500px){
    #navbar a {
        display: block;
        color: #222;
        font-size: 8px;
        text-align: center;
        line-height: 50px;
    }
}
#navbar>ul>li{
    float:left;
    width:12.5%;
    height:45px;
    position:relative;
}
#navbar>ul>li:hover>a{
    color:rgb(50,190,180);
}
#navbar ul li ul{
    display:none;
    width:100%;
    position:absolute;
    top:43px;
    border-top:3px solid rgb(50,190,180);
    z-index:999;
}
#navbar ul li ul li{
    width:100%;
    height:30px;
    display:block;
    background:rgb(251,251,251);
    border-bottom:1px solid #ddd;
}
#navbar ul li ul li a{
    display:block;
    font-size:12px;
    line-height:30px;
    text-align:center;
}
@media (max-width:500px) {
    #navbar ul li ul li a {
        display: block;
        font-size: 6px;
        line-height: 30px;
        text-align: center;
    }
}
#navbar ul li ul li:hover a{
    color:rgb(50,190,180);
}
#navbar ul li ul li:hover{
    background-color:rgb(245,245,245);
}
#navbar .firstul{
    width:100%;
    height:0px;
}
#navbar .lastul{
    width:100%;
    height:0px;
}

.main{
    width:1000px;
    height:400px;
    margin-top:15px;
}
@media (max-width:500px) {
    .main {
        width: 100%;
       height:100%;
        margin-top: 15px;
    }
}
.main #carousel-container{
    width:600px;
    height:100%;
    background:#ddd;
    float:left; 
    box-sizing:border-box;
    overflow:hidden;
}
@media (max-width:500px){
    .main #carousel-container {
        width: 100%;
        height:auto;
        background: #ddd;
        float: left;
        box-sizing: border-box;
        overflow: hidden;
    }
}
#carousel {
    width: 100%;
    position: relative;
    overflow: hidden;
    color:#fff;
}
#carousel img{
    width:100%;

}

.main #news-container{
    width:400px;
    height:400px;
    background:rgb(242,244,249);
    float:left;
    box-sizing:border-box;
}
@media (max-width:500px) {
    .main #news-container {
        width: 100%;
        height: 100%;
        background: rgb(242,244,249);
        float: left;
        box-sizing: border-box;
        margin-top:10px;
    }
}
#news-container #title {
    width: 100%;
    height: 40px;
    border-bottom: 2px solid rgb(50,190,180);
    position: relative;
}
#title h1{
    line-height:40px;
    font-size:20px;
    font-family:'Microsoft JhengHei';
    font-weight:700;
    color:rgb(115,141,174);
    margin-left:20px;
}
#title> span{
    display:block;
    width:auto;
    height:100%;
    font-size:14px;
    vertical-align:middle;
    color:rgb(55,105,85);
    position:absolute;
    top:10px;
    right:25px;
}
#title span img{
    width:15px;
    height:15px;
    padding:2px;
}
#news {
    width: 100%;
    height: 328px;
    overflow: hidden;
    border-bottom: 2px solid rgb(50,190,180);
}

#news li{
    width:90%;
    height:30px;
    margin-left:5%;
    line-height:30px;
    font-size: 14px;
    color: rgb(115,141,174);
    position:relative;
    border-bottom:1px dashed #444;
    box-sizing:border-box;
}
#news a {
    display:block;
    color: rgb(115,141,174);
    width:60%;
    height:25px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
#news a:hover{
    color:rgb(30,56,59);
}
#news span{
    display:block;
    height:25px;
    font-size:12px;
    color: rgb(140,160,190);
    position:absolute;
    top:0px;
    right:0px;
}
#news-footer{
    width:100%;
    height:33px;
    position:relative;
}
#news-footer span{
    display:block;
    height:33px;
    position:absolute;
    right:5%;
    top:0px;
    line-height:35px;
    font-family:'Microsoft Uighur';
    
    font-size:16px;
}
#news-footer span a{
    color:rgb(100,131,164);
}
#news-footer span a:hover{
    color: rgb(60,100,110);
}

.footer{
    width:1000px;
    height:100px;
    background:#111;
    text-align:center;
    overflow:hidden;
}
@media (max-width:500px) {
    .footer {
        width: 100%;
        height: 100px;
        background: #111;
        text-align: center;
        overflow: hidden;
    }
}
.footer #brand{
    width:100%;
    height:50px;
    margin-top:30px;
    color:#ddd;
    font-size:14px;
    font-family:'Microsoft Yi Baiti';
}

#footer-navbar {
    width: 1000px;
    padding:10px;
    margin-top: 15px;
    box-sizing:border-box;
    background: rgb(10,100,180);
    overflow:hidden;
}

@media (max-width:500px){
    #footer-navbar {
        width: 100%;
        padding: 10px;
        margin-top: 15px;
        box-sizing: border-box;
        background: rgb(10,100,180);
    }

}
#footer-navbar img {
    width: 64px;
    border: 2px solid #fff;
    border-radius: 50%;
}
#footer-navbar ul{
    display:block;
    width:600px;
    margin:0 auto;
}

@media (max-width:500px) {
    #footer-navbar ul {
        width: 300px;
    }
}

#footer-navbar li{
    float:left;
}
#footer-navbar li a{
    display:block;
    width:100px;
    text-align:center;
    color:#fff;
}
#footer-navbar li a:hover{
    color:rgb(50,190,180)
}
