
/*----------main----------- */
.main {
    width: 1000px;
    overflow:hidden;
    background-color: rgb(254,254,254);
    margin-top: 15px;
    padding: 10px 10px 60px 10px;
    box-sizing: border-box;

}
@media (max-width:500px) {
    .main {
        width: 100%;
        height: 100%;
    }
}

.main > .main-left{
    width:22%;
    height:auto;
    box-sizing:border-box;
    float:left;
}
@media (max-width:500px){
    .main > .main-left {
        width: 100%;
    }
}

.main > .main-left h2{
    padding-left:10px;
    font-family:'Microsoft JhengHei';
    font-size:24px;
    font-weight:bolder;
    color:rgb(10,100,180);
    border-left:10px solid rgb(50,190,180);
    margin-bottom:5px;

}
.main > .main-left > ul > li{
    height:40px;
    padding-left:22px;
    background:rgb(10,100,180);
    line-height:40px;
    border-bottom:1px solid rgb(251,252,253);
    box-sizing:border-box;
    position:relative;
}
.main > .main-left > ul > li:hover{
    background:rgb(50,190,180);
}
.main > .main-left > ul > li > a{
    color:#fff;
}
.main > .main-left > ul > li > span{
    width:10px;
    height:auto;
    display:block;
    position:absolute;
    right:20px;
    top:0px;
    color:#fff;
}
.main-right{
    width:72%;
    height:auto;
    float:left;
    margin-left:3%;
}
@media (max-width:500px){
    .main-right {
        width:100%;
        margin-left:0;
    }
}
.main-right > .main-right-nav-container{
    height:50px;
    box-sizing:border-box;
    border-bottom:3px solid rgb(50,190,180) ;
}
.main-right-nav{
    float:right;
    line-height:50px;
}
.main-right-nav > a{
    color:rgb(100,110,120);
}
.main-right-nav > a:hover{
    color:rgb(10,10,10);
}
.main-right > .title-list{
    
}
.main-right > .title-list >ul{
    
}
.main-right > .title-list > ul > li.section{
    float:left;
    margin-top:3%;
    box-sizing:border-box;
    width:48%;
    height:214px;
    box-shadow:1px 1px 4px 1px #aaa;
    background:rgb(250,250,252);
    border:1px solid rgb(220,220,220);
}
/*¸újs½»»¥*/
.section-margin-even {
    margin-left:0;
    margin-right:2%;
}
.section-margin-odd {
    margin-left: 2%;
    margin-right: 0;
}
@media (max-width:500px){
    .main-right > .title-list > ul > li.section {
        width: 100%;
        
    }
}
.main-right div.title{
    height:36px;
    background:#cde;
    border-bottom:1px solid rgb(50,190,180)
}
.main-right div.title span.h{
    font-family:'Microsoft JhengHei';
    font-size:20px;
    font-weight:600;
    line-height:36px;
    margin-left:5px;
}
.main-right div.title a.more{
    float:right;
    line-height:36px;
    color:#666;
    margin-right:5px;
}
.main-right div.title a.more:hover{
    color:rgb(50,190,180);
}
.main-right ul.con{
    padding:5px 0;
}
.main-right ul.con li{
    height:28px;
    line-height:28px;
    
    box-sizing:border-box;
    border-bottom:1px dashed #bbb;
    position:relative;
}
.main-right ul.con li a {
    margin-left: 10px;
    display: block;
    color: rgb(50,50,50);
    width: 65%;
    height: 28px;
    font-size:14px;
    font-weight:300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main-right ul.con li a span{
    position:absolute;
    width:0;
    height:0;
    left:3px;
    top:9px;
    border:5px solid;
    border-color:transparent transparent transparent  #e88 ;
}
.main-right ul.con li a:hover{
    color:#f35577;
}
.main-right ul.con li span{
    display:block;
    height:28px;
    font-size:12px;
    font-weight:200;
    line-height:28px;
    color: rgb(50,50,50);
    position:absolute;
    top:0px;
    right:10px;
}

